<div class="cont-<%= message.user.id %>">
  <div class="msg-<%= message.user.id %> w-fit max-w-[60%] p-2 m-2 bg-gray-400 rounded-xl">
    <% unless message.room.is_private %>
      <h6 class="name"> <%= message.user.username %> </h6>
    <% end %>
  <%= message.content %>
  </div>
</div>
