<div class="inline plot border-4 m-3 border-solid  border-<%= plot.plant ? 'green-600' : 'yellow-900' %> rounded p-2" id="<%=dom_id plot%>">
  <%= link_to "[ #{plot.plant&.current_ascii_image || "&nbsp;"} ]".html_safe,
              farm_plot_path(plot.farm, plot),
              data: {'turbo-method': :patch} %>
</div>
