<div class="flex flex-row h-screen">
  <div class="basis-1/4 my-20 p-2 border-2 rounded border-gray-600 overflow-scroll">
    <div class="room-menu ">
      <%= render partial: "layouts/side_menu" %>
    </div>

  </div>
  <div class="basis-3/4 mt-20 mb-16 px-4">
    <% if @single_room %>
      <div class="farm-menu h-2/5">
        <h4 class="text-center"> <%= @single_room.name %> Farm </h4>
          <div id="<%= dom_id @single_room %>-farm">
            <% if @farm.id %>
              <%= render @farm %>
            <% else %>
              <p>There is no farm yet!</p>
              <%= link_to 'Build one', farms_path(room_id: @single_room.id), data: {'turbo-method': :post} %>
            <% end %>
          </div>
      </div>
      <div class="bg-gray-800 text-white chat-area h-2/5 overflow-scroll rounded">
        <h4 class="text-center"> <%= @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages">
          <%= render @messages %>
        </div>
      </div>
      <div class="py-2">
        <%= render partial: 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>
