<%= form_with(model: @room, remote: true, class: "w-full",
      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |f| %>
  <%= f.text_field :name, class: "form-control w-full", autocomplete: 'off' %>
  <%= f.submit data: { disable_with: false } %>
<% end %>
