<div class="pb-4">
  <h5> Hi <%= @current_user.username %> </h5>
  <%= link_to 'Sign Out', signout_path, data: { "turbo-method": :delete } %>
</div>
<h4> Rooms </h4>
<%= render partial: "layouts/new_room_form" %>
<div>
  <%= turbo_stream_from "rooms" %>
  <div id="rooms">
    <%= render @rooms %>
  </div>
</div>
